<div id="about-container" class="container-liquid">

  <div class="row">
    <div class="col-xs-12 about-title text-center">
      <div style="padding: 20px 0; font-size: 1.3em; text-align: center;">
        <span>About Me</span>
      </div>
    </div>
  </div>
  
  <div class="row" style="padding: 15px 0 15px;">
    <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center">
      <img class="about-img img-circle" src="/assets/me.jpg" alt="Me">
    </div>
    <div class="about-text col-xs-12 col-sm-6 col-sm-pull-6">{{aboutMe}}</div>
  </div>
  
  <hr class="about-divider">

  <div class="row" style="padding: 15px 0 15px">
    <div class="col-xs-12 text-center">
      <p class="about-title">Projects</p>
      <p class="about-text">A couple personal projects made with a few different tools</p>
    </div>
  </div>

  <div class="row projects-row">
    <div class="col-xs-12 col-sm-12 col-md-4 text-center">
      <img class="about-img" src="/assets/angular.png" alt="IMG">
      <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae, autem dolores dignissimos quibusdam totam placeat est assumenda dolore ut esse corrupti. Placeat, harum impedit iste delectus aut officiis provident.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 text-center">
      <img class="about-img" src="/assets/angular.png" alt="IMG">
      <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae, autem dolores dignissimos quibusdam totam placeat est assumenda dolore ut esse corrupti. Placeat, harum impedit iste delectus aut officiis provident.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 text-center">
      <img class="about-img" src="/assets/angular.png" alt="IMG">
      <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae beatae, autem dolores dignissimos quibusdam totam placeat est assumenda dolore ut esse corrupti. Placeat, harum impedit iste delectus aut officiis provident.</p>
    </div>
  </div>
</div>