<div id="about-container" class="container-liquid">

  <div class="row">
    <div class="col-xs-12 about-title text-center">
      <div style="padding: 20px 0; font-size: 1.3em; text-align: center;">
        <span>About Me</span>
      </div>
    </div>
  </div>
  
  <div id="aboutMe">
    <div class="row" style="padding: 15px 0 15px;">
      <div class="col-xs-12 col-sm-4 text-center">
        <img class="about-img img-circle" src="/assets/me.jpg" alt="Me">
      </div>
      <div class="about-text col-xs-12 col-sm-6 col-sm-push-1">
        <p>{{aboutMe}}</p>
        <p>I am inspired by science and technology. Space fascinates me to the point where
          I will stop and stare at the <a href="https://goo.gl/WtT6Ev" target="_blank" style="text-decoration:none; color:inherit; cursor:pointer">night sky.</a> I wonder how I can contribute to the world as a programmer and 
          am just putting one footer in front of the other.</p>
      </div>
    </div>
    <hr class="about-divider">
  </div>

  

  <div class="row" style="padding: 15px 0 15px">
    <div class="col-xs-12 text-center">
      <p class="about-title">Projects</p>
      <p class="about-text" style="padding:10px 0 10px">A few personal projects I made.</p>
    </div>
  </div>

  <div class="row projects-row">
    <div *ngFor="let project of projects" class="col-xs-12 col-sm-12 col-md-4 text-center">
      <!-- <a href="{{project.link}}" target="_blank"><img class="about-img" src="{{project.title}}" alt="Project"></a> -->
      <!-- <div> -->
        <a href="{{project.link}}" target="_blank" style="text-decoration: none;">
          <p class="project-image" [style.background]="project.colors"><b>{{project.title}}</b></p>
        </a>
      <!-- </div> -->
      <!-- <h3 class="about-header">{{project.title}}</h3> -->
      <p class="about-text">{{project.body}}</p>
    </div>
  </div>
</div>