/* You can add global styles to this file, and also import other style files */
.bg-black {
    background-color: black;
}

.text-white {
    color: white;
}

.topbar-button {
    padding: 10px;
}

.dark-gray {
    color: darkgray;
}

.gray-background {
    background-color: gray;
}

.content-background {
    height: calc(100vh - 52px);
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 350px;
    background-color: black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.experience-background {
    /* height: 100vh; */
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.text-center {
  /* text-align: center !important; */
  margin: auto;
}

.bg-dark {
  background-color: #222222 !important;
}
