@media screen and (min-width: 550px) {
    .img-background {
        background-image: url("/assets/nasa-earth.jpg");
    }
    .home-container {
        padding: 0 40px;
    }
    .home-text {
        color:white;
        font-size: 4.5em;
        font-weight: 700;
    }
    #homeButton {
        margin-top: 10% !important;
    }
}
@media screen and (max-width: 550px) {
    .home-text {
        color: white;
        font-size: 2.5em;
        font-weight: 700;
    }
}

.home-content {
    margin-top: 17%;
}

.experience-row {
    margin: 40px 10px;
}

.experience-item {
    padding: 20px 40px;
    font-weight: 700;
}

.experience-icon {
    font-size: 6em;  
    padding: 10px 0;
}

@media screen and (min-width: 550px) {
    .experience-icon {
        font-size: 8em;  
        padding: 10px 0;
    }
}

.experience-header {
    margin: 20px 0;
    font-weight: 700;
}

.experience-info {
    color:darkgray; 
    font-weight: 100;
    padding: 0 20px;
}

#homeButton {
    font-size: 1em;
    font-weight: 700;
    background-color: black;
    color: white;
    border-color: cornflowerblue;
    border: 4px solid cornflowerblue;
    border-radius: 30px;
    margin-top: 40%;
    padding: 7px 40px;
    -webkit-transition: background-color 0.5s, color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s, color 0.5s;
}

#homeButton:hover {
    background-color: cornflowerblue;
    color: black;
}