<div class="content-background img-background">
  <div class="container">
    <div class="home-content">
      <span class="text-white home-text">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">Let's</div>
          </div> 
          <div class="row">
            <div class="col-xs-12"><span>{{ "{" + innerCurly.join("") + "|}" }}</span></div>
          </div>
          <div class="row">
            <div class="col-xs-12">Together</div>
          </div>
      </div>
      </span>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <button id="homeButton" class="btn">LET'S GET IN TOUCH</button>
      </div>
    </div>
  </div>  
</div>
<div id="experience" class="experience-background container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <p style="margin: 60px 0 20px; font-size: 2.5em; font-weight: 700;">My Experience</p>
      <p style="font-size: 1.3em; color: darkgrey; margin: 20px 0;">Making responsive and simplistic websites </p>
    </div>
  </div>
  <div class="row experience-row">
    <div class="col-xs-12 col-sm-4 text-center">
      <i class="fa fa-html5 experience-icon" style="color: orange;"></i>
      <h2 class="experience-header">HTML5</h2>
      <p class="experience-info">I use the newest version of HTML to keep up with the always evolving web standard so I can bring simple and clean pages to viewers.</p>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <i class="fa fa-css3 experience-icon" style="color: cornflowerblue;"></i>
      <h2 class="experience-header">CSS3</h2>
      <p class="experience-info">I've created UI's using popular CSS frameworks such as Foundation and Bootstrap. I strive for a smooth and clean experience.</p>      
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <i class="fa fa-code experience-icon" style="color: lightcoral;"></i>
      <h2 class="experience-header">JavaScript</h2>
      <p class="experience-info">I'm creating pages using the newest versions of JavaScript/ES6. Coding all future pages with the Angular 4 framework is a priority.</p>      
    </div>
  </div>
</div>

<!-- Github linkedin  -->