<div class="content-background img-background">
  <div class="container">
    <div class="home-content">
      <span class="text-white home-text">Let's Build Together</span>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <button id="homeButton" class="btn">LET'S GET IN TOUCH</button>
      </div>
    </div>
  </div>  
</div>
<div id="experience" class="experience-background container" style="height: 100%;">
  <div class="row">
    <div class="col-xs-12 text-center">
      <p style="margin: 60px 0 20px; font-size: 2.5em; font-weight: 700;">My Experience</p>
      <p style="font-size: 1.3em; color: darkgrey; margin: 20px 0;">The basics of front end development</p>
    </div>
  </div>
  <div class="row experience-row">
    <div class="col-xs-12 col-sm-4 text-center">
      <i class="fa fa-html5 experience-icon" style="color: orange;"></i>
      <h2 class="experience-header">HTML5</h2>
      <p class="experience-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat atque, libero sequi necessitatibus ut pariatur.</p>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <i class="fa fa-css3 experience-icon" style="color: cornflowerblue;"></i>
      <h2 class="experience-header">CSS3</h2>
      <p class="experience-info">Lorem ipsum dolor siterunt cupiditate, omnis nulla facere fuga accusantium asperiores cum?</p>      
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <i class="fa fa-code experience-icon" style="color: lightcoral;"></i>
      <h2 class="experience-header">JavaScript</h2>
      <p class="experience-info">Lorem ipsum dolor pariatur ducimus molestiae alias impedit quasi excepturi deserunt cupiditate, omnis nulla facere fuga accusantium asperiores cum?</p>      
    </div>
  </div>
</div>
<div class="container home-footer">
  <div class="row">
    <div class="col-xs-12">
      <div class="container text-white text-center footer-row">
        <div class="row">
          <div class="col-xs-12">
            <span style="font-weight: 700;">MADE BY ME 2017.</span>
          </div>
        </div>
      </div>
      <div class="container text-center footer-row">
        <div class="row">
          <div class="col-xs-12">
            <a target="_blank" href="https://github.com/Davatata" class="footer-anchor"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/david-tataryan-47b4696a/" class="footer-anchor"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Github linkedin  -->