<div class="content-background img-background">
  <div class="container">
    <div class="home-content">
      <span class="text-white home-text">
        <div class="row">
          <div class="col-xs-12">Let's <span>{{ "{" + innerCurly.join("") + "|}" }}</span></div>
        </div> 
        <!-- <div class="row">
          <div class="col-xs-12"></div>
        </div> -->
        <div class="row">
          <div class="col-xs-12">Together</div>
        </div>
      </span>
    </div>
  </div>
  <!-- <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a id="homeButton" routerLink="/contact" class="btn">LET'S GET IN TOUCH</a>
      </div>
    </div>
  </div>   -->
</div>
<div class="experience-background container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <p style="margin: 60px 0 20px; font-size: 2.5em; font-weight: 700;">My Experience</p>
      <p style="font-size: 1.3em; color: darkgrey; margin: 20px 0;">Making responsive and simplistic websites </p>
    </div>
  </div>
  <div class="row experience-row">
    <div *ngFor="let item of experienceItems;" class="col-xs-12 col-md-4 text-center">
      <i class="fa experience-icon {{item.icon}}" [style.color]="item.color"></i>
      <h2 class="experience-header">{{item.header}}</h2>
      <p class="experience-info">{{item.text}}</p>
    </div>
  </div>
</div>

<div id="myTools" class="experience-background container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <p style="margin: 60px 0 20px; font-size: 2.5em; font-weight: 700;">My Tools</p>
      <p style="font-size: 1.3em; color: darkgrey; margin: 20px 0;">Popular front end technologies </p>
    </div>
  </div>
  <div class="row experience-row">
    <div *ngFor="let item of toolItems" class="col-xs-12 col-md-4 text-center">
      <img [src]="item.image" [alt]="item.header" [ngStyle]="item.style">
      <h2 class="experience-header">{{item.header}}</h2>
      <p class="experience-info">{{item.text}}</p>
    </div>
  </div>
</div>

<!-- Github linkedin  -->